@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'punk';
    src: url('/fonts/PunkRocker_S_Demo.otf') format('opentype');
  }
  @font-face {
    font-family: 'grotesk';
    src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
  }
}

@layer utilities {
  .h-screen-minus-menu {
    height: calc(100vh - 224px);
  }
}
